# Node.js modules
node_modules/

# Next.js build files
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
*.swp
*~

# Build output
dist/
out/

# Custom cache
.cache/
